/* these are things I found online that I might use */
body {
    background:url(../../assets/img/pexels-photo-294560.jpeg) no-repeat !important;
    padding-top:100px;
    background-size:cover;
}

.navbar, #first-jumbo  {
    background: transparent !important;
}

#first-jumbo {
    text-align:center;
}

/* or you can do */
#first-jumbo {
    text-align: center;
    background-color: transparent !important;
}