html, body {
    height: 100%;                       /* this is for the sticky footer */
}

body {
    text-align: center!important;       /* I like my stuff centered! */

    padding-top: 60px!important;        /* sticky nav-bar */

    display: flex;                      /* sticky footer */
    flex-direction: column;             /* sticky footer */
}

a {
    text-decoration: none!important;    /* don't underline links */
}

.content {
    flex: 1 0 auto;                 /* sticky footer */
}

.footer {
    flex-shrink: 0;                 /* sticky footer */
}

/* sticky footer from https://css-tricks.com/couple-takes-sticky-footer/  --  Thank you !! */