html, body {
    height: 100%;                       /* this is for the sticky footer */
}

body {
    color: #222222;                     /* it's so MUCH better to have a slightly less BLACK black */
    text-align: center;                 /* I like my stuff centered! */

    padding-top: 80px!important;        /* sticky nav-bar */

    display: flex;                      /* sticky footer */
    flex-direction: column;             /* sticky footer */
}

p {
    text-align: left;
}

pre {
    color: inherit;                     /* see if it will inherit the surrounding color */
    background-color: #ecf0f3;
    font-family: monospace, sans-serif;
    width: 75%;
    padding: 12px 8px;
    border-radius: 3px;
    margin-left: 10px;
}

code {
    color: inherit;                     /* see if it will inherit the surrounding color */
    background-color: #ecf0f3;
    font-family: monospace, sans-serif;
    font-size: 96.5%;
    padding: 0 1px 1px;
    border-radius: 3px;
}

a:link {
    text-decoration: none;              /* don't underline links */
    color: #546dd3;
}
a:visited {
    color: #aa75d9;
}
a:active {
    text-decoration: none;              /* don't underline links even when active */
}

.blog-post {
    text-align:left;
}

.content {
    flex: 1 0 auto;                     /* sticky footer */
}

.footer {
    flex-shrink: 0;                     /* sticky footer */
    text-align: center;
    margin-bottom: 1rem;                /* 1 rem = the size of the default root font, usually 16px */
}

/* sticky footer from https://css-tricks.com/couple-takes-sticky-footer/  --  Thank you !! */