<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="img/roselakerounded.png">
</head>
<body>

    <div th:replace="base::navbar"></div>

    <main role="main" class="container content">

        <div class="flex-column">
            <div class="d-flex justify-content-between">
            <div class="card mx-auto" style="width: 25rem;">
                <div class="d-flex"><img class="card-img-top mx-auto align-self-center rounded-circle" style="width:20rem; height=20rem; margin-top:2rem;" src="img/authorlogo.jpg" alt="Author Card image"></div>
                <div class="card-body">
                    <h2 class="card-title">Ksenia Rose Lake</h2>
                    <h4 class="card-subtitle mb-2 font-weight-light">Full Stack Java Software Developer</h4>
                </div>
                <div class="card-body"><p class="card-text">Ksenia graduated with a Mathematics degree after studying Computer Science and Electrical Engineering. She worked as a software developer for a year, contributing to an object-oriented content management system at The Motley Fool. She expanded her horizons through teaching, and is now rediscovering the joy of coding.</p>
                </div>
                <div class="card-body">
                    <a href="https://github.com/rose-lake" class="card-link">
                        <img src="img/GitHub-Mark-120px-plus.png" alt="GitHub Mark" width="30" height="30">
                    </a>
                    <a href="https://kseniaroselake.gitbook.io/jbc-notes/" class="card-link">
                        <img src="img/gitbook.png" alt="GitBook logo" width="30" height="30">
                    </a>
                    <a href="https://www.linkedin.com/in/ksenia-rose-lake-09a00514a/" class="card-link">
                        <img src="img/LI-In-Bug.png" alt="LinkedIn logo" width="30" height="30">
                    </a>
                </div>
            </div>
            </div>
        </div>

    </main>

    <div th:replace="base::footer"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>
