<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <!-- start th:fragment="navbar" -->
    <div th:fragment="navbar">
        <!-- modified bootstrap nav bar -->
        <!--<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">-->
        <!-- want to use fixed-top but can't until set up the main body better -->
        <nav class="navbar navbar-expand navbar-light fixed-top" style="background-color: #e3f2fd;">

            <!-- <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->

            <!-- toggler -->
            <!-- I set "navbar-expand" above, so this toggler is no longer needed -->
            <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->

            <!-- brand icon -->
            <a class="navbar-brand" href="/author"><img src="/img/roselakelogo.jpg" class="rounded" width="30" height="30" alt="rose lake logo"></a>

            <!-- main nav bar -->
            <div class="collapse navbar-collapse justify-content-left" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Blog
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/basics">Java Basics</a>
                            <a class="dropdown-item" href="/oo">Java OO</a>
                            <a class="dropdown-item" href="/frontend">Front End</a>
                            <a class="dropdown-item" href="/git">Git</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">JBC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/author">Author</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
    <!-- end th:fragment="navbar" -->

    <div th:fragment="footer">

        <footer class="footer flex-column justify-content-center">
            <div class="container">
                <!-- using Bootstrap classes and <small> tag -->
                <p><small>&copy 2019 Rose Lake</small></p>

                <!-- using my own copyright css class -->
                <!--<p class="">&copy 2019 Rose Lake</p>-->
            </div>
        </footer>

    </div>

</body>
</html>
