<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Primitive Data Types</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="img/roselakerounded.png">
</head>
<body>

    <div th:replace="base::navbar"></div>

    <main role="main" class="container content">

        <!-- start blog header -->
        <div class="blog-header flex-column">
            <div class="d-flex justify-content-between">
                <div class="align-self-end">
                    <a href="/author" class="rose"><img src="img/authorlogo.jpg" alt="rose author logo" class="rounded-circle" width="30" height="30"><h6>Rose</h6></a>
                </div>
                <h1 class="align-self-end">Primitive Data Types</h1>
                <small class="align-self-end">October 15, 2019</small>
            </div>
        </div>
        <!-- end blog-header -->
        <!-- start blog-post -->
        <article class="blog-post flex-column mx-auto">
            <p>Primitive data types are the data types that are built in to the Java system. Java is a strongly typed language. This means that every variable you declare in your code must have a specific "type" assigned to it. Sometimes this will be a primitive data type. Sometimes this will be a String. Sometimes it will be an object defined in the Java library. And sometimes this will be your very own object that you have defined. Regardless, every time you start thinking about having a "place" to put a "thing", Java requires that you always tell it, very specifically, <em>what kind of thing</em>> to expect!</p>
            <p> For more on primitive data types see the <a href="https://docs.oracle.com/javase/tutorial/java/nutsandbolts/datatypes.html">official tutorial</a>.</p>
            <h5><code>int</code> and <code>long</code></h5>
            <p>The <code>int</code> data type allows values between -2,147,483,648 (negative 2 to the 31st power) and 2,147,483,647 (positive 2 to the 31st power, minus 1) inclusive. In other words, I believe this means it is using 32-bit precision but reserving one bit for the sign. <code>long</code> is the 64-bit version of int.</p>
            <h5><code>float</code> and <code>double</code></h5>
            <p><code>float</code> is 32-bit while <code>double</code> is 64-bit. Typeically, double is the one you would use by default, but use float if you need to save memory in large arrays of floating point numbers. While these data types do have a limit on their range of values, it's not something we would typically encounter in daily usage! However, these should never be used for exact Decimal calculations, such as for currency or basic math! For this purpose, you would need to use the <code>java.math.BigDecimal</code> class.</p>
            <h5><code>boolean</code></h5>
            <p>The <code>boolean</code> data type can be <code>true</code> or <code>false</code>. Note that the true and false are not capitalized in Java!</p>
            <h5><code>char</code></h5>
            <ul>
                <li>is surrounded by single quotes</li>
                <li>can hold only a single character</li>
            </ul>
        </article>
        <!-- end of blog post -->

    </main>

    <div th:replace="base::footer"></div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
