<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java Basics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div th:replace="base::navbar"></div>

    <main role="main" class="container content">

        <h1>Java Basics</h1>

        <!-- unordered list-group of the blog entries -->
        <ul class="list-group mx-auto w-75">

            <div class="list-group-item flex-column">
                <div class="d-flex w-75 justify-content-start">
                    <h5 class="mb-1">Primitive Data Types</h5>
                </div>
                <p>These are data types that are built in to the Java system. For more on primitive data types see the <a href="https://docs.oracle.com/javase/tutorial/java/nutsandbolts/datatypes.html">official tutorial</a>. int and long. The int data type allows values between -2,147,483,648 (negative 2 to the 31st power) and... [ <a href="basics1">read more...</a> ]</p>
            </div>

            <div class="list-group-item flex-column">
                <div class="d-flex w-75 justify-content-between">
                    <h5 class="mb-1">String Objects</h5>
                </div>
                    <p class="mb-1 justify-content-between">A String is an object, not a primitive data type. Yay, go String! As an object, String will have built-in behaviors. Declaration. When you declare a string, you are creating an instance of the String class. Because strings are so heavily used... [ <a href="basics2">read more...</a> ]</p>
            </div>

            <div class="list-group-item flex-column">
                <div class="d-flex w-75 justify-content-start">
                    <h5 class="mb-1">More stuff here</h5>
                </div>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis deleniti esse est, eum exercitationem fuga iste iure maiores officia rem repudiandae soluta. Accusamus aliquam aperiam fuga labore libero recusandae, rerum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus est facilis nemo nobis temporibus voluptate? Cupiditate deleniti doloribus dolorum eos hic, nostrum porro? Adipisci est id magnam nobis provident totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque harum id magnam. At aut autem consequuntur dolorum est, exercitationem incidunt ipsam maxime modi molestias obcaecati quas quibusdam recusandae, soluta temporibus.<a href="#"></a></p>
            </div>

            <a href="#" class="list-group-item flex-column">
                <div class="d-flex w-75 justify-content-start">
                    <h5 class="mb-1">Another stuff here</h5>
                </div>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis deleniti esse est, eum exercitationem fuga iste iure maiores officia rem repudiandae soluta. Accusamus aliquam aperiam fuga labore libero recusandae, rerum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus est facilis nemo nobis temporibus voluptate? Cupiditate deleniti doloribus dolorum eos hic, nostrum porro? Adipisci est id magnam nobis provident totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque harum id magnam. At aut autem consequuntur dolorum est, exercitationem incidunt ipsam maxime modi molestias obcaecati quas quibusdam recusandae, soluta temporibus.</p>
            </a>
            <a href="#" class="list-group-item flex-column">
                <div class="d-flex w-75 justify-content-start">
                    <h5 class="mb-1">Again stuff here</h5>
                </div>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis deleniti esse est, eum exercitationem fuga iste iure maiores officia rem repudiandae soluta. Accusamus aliquam aperiam fuga labore libero recusandae, rerum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus est facilis nemo nobis temporibus voluptate? Cupiditate deleniti doloribus dolorum eos hic, nostrum porro? Adipisci est id magnam nobis provident totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque harum id magnam. At aut autem consequuntur dolorum est, exercitationem incidunt ipsam maxime modi molestias obcaecati quas quibusdam recusandae, soluta temporibus.</p>
            </a>
        </ul>

    </main>

    <div th:replace="base::footer"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>
