<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inheritance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="img/roselakerounded.png">
</head>
<body>

<div th:replace="base::navbar"></div>

<main role="main" class="container content">
    <!-- beginning of blog post -->
    <div class="blog-header flex-column">
        <div class="d-flex justify-content-between">
            <div class="align-self-end">
                <a href="/author" class="rose"><img src="img/authorlogo.jpg" alt="rose author logo" class="rounded-circle" width="30" height="30"><h6>Rose</h6></a>
            </div>
            <h1 class="align-self-end">Inheritance</h1>
            <small class="align-self-end">November 15, 2019</small>
        </div>
    </div>
    <!-- end blog-header -->
    <!-- start blog post -->
    <div class="blog-post flex-column mx-auto">
        <p>If Classes are the "backbone" of the Java language as it were, then Inheritance (and Composition!) are what brings it all together, the "muscles and ligaments" helping all the components function seamlessly together. Inheritance and Composition are the reason we don't have to write everything from scratch in Java. A great deal of using the Java programming language consists in learning the libraries which are available to you, so that you don't find yourself re-writing code that's already been written and published for our use. Examples of this are the Scanner class, which help you interpret keyboard (or other) user input, or the ArrayList class, which helps you make array-like lists of objects, whether primitive types, java library objects, or objects you have defined yourself!</p>
        <p>Inheritance itself is a time-saving measure in terms of writing code. Any time you find yourself cutting-and-pasting the same code over and over into all of the different "children" of a "parent" class, consider whether that same function could be written only once, in the parent! If you're after just a small customization, perhaps including the name of the child class, consider if there is some way this could be "found out" from the object itself... These are all rather big-picture musings, but hopefully the more nitty-gritty guidelines and notes below will help you get through your JBC experience!</p>
        <h5>Terminology</h5>
        <p>There are several terms you’ll encounter frequently.</p>
        <ul>
            <li>Parent class, superclass, and base class refer to the class that another class inherits from (like Shape).</li>
            <li>Child class, subclass, and derived class refer to a class that inherits from another class (like Triangle).</li>
        </ul>
        <h5>Instantiating a child class as a member of a parent class:</h5>
        <p>One way to do this explicitly is to instantiate a child class object as a member of the parent class. We can instantiate a CheckingAcount object as a BankAccount like this:</p>
        <pre><code>BankAccount kaylasAccount = new CheckingAcount(600.00);</code></pre>
        <p>We can use <code>kaylasAccount</code> as if it were an instance of BankAccount, in any situation where a BankAccount object would be expected. (This would be true even if kaylasAccount were instantiated as a CheckingAccount, but using the explicit child as parent syntax is most helpful when we want to declare objects in bulk.)</p>
            <p>It is important to note here that the compiler just considers kaylasAccount to be any old BankAccount. But because method overriding is handled at runtime, if we call printBalance(), we’ll see something CheckingAccount specific:</p>
        <pre><code>Your checking account balance is $600.00</code></pre>
        <p>This is because at runtime, kaylasAccount is recognized as the CheckingAccount it is. So, what if CheckingAccount has a method transferToSavings() that BankAccount does not have? Can kaylasAccount still use that method?</p>
        <p>Well, no. The compiler believes that kaylasAccount is just a BankAccount that doesn’t have some fancy child class transferToSavings() method, so it would throw an error.</p>

        <h5>Child classes in arrays and ArrayLists</h5>
        <p>Usually, when we create an array or an ArrayList, the list items all need to be the same type. But polymorphism puts a new spin on what is considered the same type…</p>
        <p>In fact, we can put instances of different classes that share a parent class together in an array or ArrayList! For example, let’s say we have a Monster parent class with a few child classes: Vampire, Werewolf, and Zombie. We can set up an array with instances of each:</p>
        <pre><code>Monster dracula, wolfman, zombie1;

dracula = new Vampire();
wolfman = new Werewolf();
zombie1 = new Zombie();

Monster[] monsters = {dracula, wolfman, zombie1};</code></pre>
        <p>We can even iterate through the list of items — regardless of subclass — and perform the same action with each item:</p>
        <pre><code>for (Monster monster : monsters) {

  monster.attack();

}</code></pre>
        <p>In the code above, we were able to call attack() on each monster in monsters despite the fact that, in the for-each loop, monster is declared as the parent class type Monster.</p>
    </div>
    <!-- end of blog post -->

</main>

<div th:replace="base::footer"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
